@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    font-size: 16px;
}

#container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#status {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 4px;
    font-size: 0.75em;
    color: var(--status-text-color);
}

#current {
    /* font-size: 1em; */
    font-weight: 300;
    padding: 0.25em 0.5em 4em 0.5em;
    background-color: var(--button-bg-color);
    color: var(--bg-color);
    border-radius: var(--large-radius);
    margin-bottom: -4em;
    text-align: center;
}

#current_time {
    font-size: 2em;
    display: block;
    margin-bottom:-0.25em;
}


#events {
    display: flex;
    overflow: hidden;
    height: 100%;
    justify-content: space-evenly;
    background-color: var(--bg-color);
}

.event_column {
    width: 40%;
}

#all_events {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    height: 100%;
    scrollbar-width: none;
}

#all_events::-webkit-scrollbar {
    display: none;
}

.events_inner {
    max-height: 100%;
    min-width: 35vw;
}

.grid_event {
    /* position:absolute; */
    background-color: var(--event-bg-color);
    color: var(--event-text-color);
    border:1px solid var(--border-color);
    border-radius: var(--border-radius);
    overflow: hidden;
    padding:0;
    margin: 2em auto;
    font-weight: 300;
}

.grid_event>div {
    padding: 0.5em;
}

.event_headline {
    /* background-color: var(--event-headline-bg-color);
    color: var(--event-headline-text-color); */
    border-bottom: 1px solid var(--event-headline-bg-color);
}

.event_time {
    font-weight: 700;
}

#next_event {
    display:flex;
    align-items: center;
    justify-content: center;
}

.next_content {
    background-color: var(--event-bg-color);
    color: var(--event-text-color);
    border:1px solid var(--border-color);
    border-radius: var(--large-radius);
    overflow: hidden;
    padding: 0 1em 1em 1em;
    margin: 0.5em 0;
}

#next_time {
    font-size: 4em;
    font-weight: 300;
}

#next_date {
    font-size: 1em;
}

#next_link {
    background-color: var(--button-bg-color);
    color: var(--event-headline-text-color);
    margin-top: 1em;
    border-radius: var(--large-radius);
    width: fit-content;
    padding: 0.5em 1em;
}

#next_link a {
    color: var(--bg-color); 
    text-decoration: none;
}

#next_link a:visited {
    color: var(--bg-color); 
}

.shadow {
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
  }
*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --bg-color: #F2F2F2;
    --text-color: #0D0D0D;
    --event-bg-color: #F2F2F2;
    --event-text-color: #0D0D0D;
    --button-bg-color: #F25C5C;
    --border-color: #F25C5C;
    --event-headline-bg-color: #F25C5C;
    --event-headline-text-color: #F2F2F2;
    --status-text-color: #5D768C;
    --border-radius: 8px;
    --large-radius: 24px;
}