<!DOCTYPE html>
<html>
    <head>
        <link rel="manifest" href="manifest.json">
        <link rel="stylesheet" href="main.css" />
        <script type="module" src="main.js"></script>
        <script>
            window.ws_host = '{{ ws_host }}'
            window.ws_port = {{ ws_port }}
        </script>
    </head>
    <body>
        <div id="container">
            <div id="status"></div>
            <div id="events">
                <div id="next_event" class="event_column">
                    <div class="events_inner">
                    </div>
                </div>
                <div id="all_events" class="event_column">
                    <div class="events_inner">
                        Waiting for data...
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>